@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

.container {
  margin: 0 auto;
  width: 90%;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 80%;
  }
}
